#rh_sidebar{
  width:300px;
  background:#f6f6f6;
  position:fixed;
//  right:-300px;
  right:0;
  top:0;
  bottom:0;
  z-index:999;
  transition: right .5s;
//  padding:20px;
  box-sizing:border-box;
  padding-top:50px;
  //overflow-y:scroll;
  //overflow-x: visible;
  overflow:visible;

  border-left:1px solid #a7d7f9;
  font-family: 'Josefin Sans', sans-serif;
}

#rh_sidebar{
  img{
    max-width:100%;
    max-height:100%;
  }

  .rh_contents{
    background:#fff;
    border:1px solid cyan;
    border-radius:5px;
    margin-top:15px;
    padding:10px;
  }

  .saved_link{
    padding:10px;
    margin:10px;
    border-radius:3px;
    background-color:white;
//    border:#005794 1px solid;
    border:#a7d7f9 1px solid;
//    color:white;
  }

  #saved_links{
//    overflow:scroll;
  }

  #links_container{
    overflow:scroll;
    position:absolute;
    top:50px;
    bottom:50px;
    width:100%;

  }

  .rh_controls{
    position:fixed;
    top:0;
    right:0;
    height:30px;
    width:300px;
    text-align:center;
    margin:auto;
    padding:10px 0;
    background: white;
    border-bottom:1px solid #a7d7f9;
//    -webkit-box-shadow: 9px 7px 26px 2px rgba(0,0,0,0.75);
//    -moz-box-shadow: 9px 7px 26px 2px rgba(0,0,0,0.75);
//    box-shadow: 9px 7px 26px 2px rgba(0,0,0,0.75);
  }

  .rh_control_button{
    display:inline-block;
    width:23%;
    height:30px;
    vertical-align:top;
  }

  .control_icon{
    height:30px;
  }

}

//force graph css
.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.force_container{
  position:absolute;
  width:800px;
  height:800px;
  left:-800px;
  top:0;
}

#reset_state_button{
  position:absolute;
  bottom: 0;
}

.container_head{
  padding-left:10px;
  font-weight:700;
}

.link_name{
  vertical-align:middle;
  display:inline-block;
  width:234px;
}

.link_button{
  vertical-align:middle;
  display:inline-block;
  width:20px;
}